// Mixin to generate directional margin classes
// $prefix   = class prefix (e.g. mt)
// $prop      = CSS property (e.g. margin-top)
@mixin generate-margin($prefix, $prop, $min-size, $max-size) {
  @for $i from $min-size through $max-size {
    .#{$prefix}-#{$i} {
      #{$prop}: #{$i}px;
    }
  }
}

// All-sides shorthand: .m-0 … .m-100
@mixin generate-margin-all($min, $max) {
  @for $i from $min through $max {
    .m-#{$i} { margin: #{$i}px; }
  }
}

// Axis shorthands: .mx-0 … .mx-100, .my-0 … .my-100
@mixin generate-margin-axis($min, $max) {
  @for $i from $min through $max {
    .mx-#{$i} { margin-left: #{$i}px; margin-right: #{$i}px; }
    .my-#{$i} { margin-top:  #{$i}px; margin-bottom: #{$i}px; }
  }
}

// Centered element: .m-auto-0 … .m-auto-100
@mixin generate-margin-auto($min-size, $max-size) {
  @for $i from $min-size through $max-size {
    .m-auto-#{$i} {
      margin: #{$i}px auto;
    }
  }
}

// Directional classes
@include generate-margin(mt, margin-top,    0, 100);
@include generate-margin(mb, margin-bottom, 0, 100);
@include generate-margin(ml, margin-left,   0, 100);
@include generate-margin(mr, margin-right,  0, 100);

// All-sides, axis, and auto
@include generate-margin-all(0, 100);
@include generate-margin-axis(0, 100);
@include generate-margin-auto(0, 100);
