// Helper Mixin to generate padding classes for a given prefix and property
@mixin generate-padding($prefix, $prop) {
  @for $i from 0 through 100 {
    .#{$prefix}-#{$i} {
      #{$prop}: #{$i}px;
    }
  }
}

// All-sides shorthand: .p-0 … .p-100
@mixin generate-padding-all($min, $max) {
  @for $i from $min through $max {
    .p-#{$i} { padding: #{$i}px; }
  }
}

// Axis shorthands: .px-0 … .px-100, .py-0 … .py-100
@mixin generate-padding-axis($min, $max) {
  @for $i from $min through $max {
    .px-#{$i} { padding-left: #{$i}px; padding-right: #{$i}px; }
    .py-#{$i} { padding-top:  #{$i}px; padding-bottom: #{$i}px; }
  }
}

// Directional: .pt-* .pb-* .pl-* .pr-*
@include generate-padding('pt', 'padding-top');
@include generate-padding('pb', 'padding-bottom');
@include generate-padding('pl', 'padding-left');
@include generate-padding('pr', 'padding-right');

// All-sides & axis
@include generate-padding-all(0, 100);
@include generate-padding-axis(0, 100);
