$colors : (color1: red,
    color2: blue,
    color3: green,
);

@each $key,
$color in $colors {
    .#{$color}-text {
        color: $color;
    }
}

@each $key,
$color in $colors {
    .#{$color}-bg {
        background-color: $color;
    }
}
