@for $i from 1 through 12 {
    .text-#{$i} {
        font-size: $i * 1em;
    }
}


$x: 1;

@while $x < 6 {
    .font-large-#{$x} {
        font-size: $x * 1em;
    }

    $x: $x+1;
}

@while $x < 6 {
    .font-medium-#{$x} {
        font-size: $x * .5em;
    }

    $x: $x+1;
}

@while $x < 101 {
    .font-per-#{$x} {
        font-size: $x/100 * 100%;
    }

    $x: $x+1;
}