// =============================================================================
// Border Stroke Mixin
// Usage: @include border-stroke(light);
//        @include border-stroke(medium, red);
// =============================================================================
@use "../variables" as vars;

@mixin border-stroke($value, $color: vars.$black) {
  @if $value == light {
    border: vars.$border-width-light solid $color;
  } @else if $value == medium {
    border: vars.$border-width-medium solid $color;
  } @else if $value == heavy {
    border: vars.$border-width-heavy solid $color;
  } @else {
    border: none;
  }
}
